/* Challenge CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f5f5f5;
}

.container {
  /* Add your styles here */
  width: 100vw;
  height: 100vh;
}

h1 {
  /* Add your styles here */
  font-weight: 700;
  color: rgb(27, 27, 27);

}

.pricing-heading {
  /* Add your styles here */
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing-container {
  /* Add your styles here */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
  /* background: red; */
}

.pricing-card {
  /* Add your styles here */
  background-color: white;
  /* border: 1px solid #2f2f2f; */
  box-shadow: 0 0 5px #2f2f2f;
  border-radius: 8px;
  padding: 30px 20px;
  width: 20%;
  /* cursor: pointer; */
  gap: 12px;
  text-align: center;
}

.pricing-card:hover {
  /* Add your styles here */
  box-shadow: 0 0 8px black;
}

.pricing-card.popular {
  /* Add your styles here */
  border: 2px solid rgb(255, 136, 0);
  position: relative;
}

.popular-badge {
  /* Add your styles here */
  width: 100px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: white;
  background: rgb(255, 136, 0);
  border-radius: 20px;
  position: absolute;
  top: -20px;
  left: 31%;
}

.price {
  /* Add your styles here */
  font-size: 28px;
  font-weight: 700;
  padding: 8px 0;
}

.period {
  /* Add your styles here */
  color: grey;
  padding-bottom: 10px;
}

.features {
  /* Add your styles here */
  color: #2f2f2f;
}

.features li {
  /* Add your styles here */
  list-style-type: none;
}

.subscribe-btn {
  /* Add your styles here */
  padding: 10px 18px;
  margin-top: 20px;
  border-radius: none;
  font-size: 14px;
  font-weight: 500;
  border-radius: 18px;
  border: none;
  background: rgb(212, 142, 36);

}

.subscribe-btn:hover {
  /* Add your styles here */
  cursor: pointer;
  /* box-shadow: 0 0 8px rgb(250, 150, 0); */
  background: transparent;
  border: 1px solid rgb(255, 145, 0);
  transition: 0.3s;
}