/* Challenge CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Georgia", serif;
  line-height: 1.6;
  color: #333;
}

.header {
  /* Define header styles here */
  padding: 4px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: whitesmoke;
}

.logo {
  /* Define logo styles here */
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo img {
  /* Define image styles within the logo here */
  border-radius: 50%;
  border: 2px solid #ff7b00;
}

.logo{
  color: #ff7b00;
  font-weight: 700;
}
.nav-menu a {
  /* Define navigation link styles here */
  text-decoration: none;
  padding-left: 30px;
  color: #181818;
}

.nav-menu a:hover {
  /* Define hover styles for navigation links here */
  color: #ff7b00;
}

.hero {
  /* Define hero section styles here */
  height: 100vh;
  padding-top: 100px;
  text-align: center;
  background: url("./assets/chaipatti.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.overlay{
  height: 100%;
  background: #00000085;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero-text h1 {
  /* Define styles for h1 in hero-text here */
  color: white;
  font-size: 40px;
}

.hero-text p {
  /* Define styles for paragraph in hero-text here */
  color: white;
}

.shop-button {
  /* Define shop button styles here */
  margin-top: 30px;
  padding: 12px 30px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  background: #ff7b00;
  color: white;
  border-radius: 20px;
}

.shop-button:hover {
  /* Define hover styles for shop button here */
  box-shadow: 0 0 8px #ff7b00;
}

.tea-collection {
  /* Define tea collection section styles here */
  padding: 30px 100px;
  /* background: #000; */

}

.tea-collection h2 {
  /* Define styles for h2 in tea collection here */
  text-align: center;
  padding-bottom: 30px;
  color: #ff7b00;
}

.tea-cards {
  /* Define tea cards container styles here */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.tea-card {
  /* Define styles for each tea card here */
  /* border: 1px solid red; */
  width: 300px;
  height: auto;
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 5px #636262;
  border-radius: 8px;
}

.tea-card h3 {
  /* Define styles for tea card headings here */
  color: #8B4513;
}

.tea-card p {
  /* Define styles for tea card paragraph text here */
  color: grey;
}